EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyALeUn3c8ZdYkdCIPoh7P0IAjYUsVt131E
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=budget-app-32c76.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=budget-app-32c76
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=budget-app-32c76.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=752552917614
EXPO_PUBLIC_FIREBASE_APP_ID=1:752552917614:web:b01faf965e2e9aaa51447f
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=752552917614-153vmurcj0hcqviee2le3ikvrg4bmnq2.apps.googleusercontent.com